.button {
	display: flex;
	width: 250px;
	height: 70px;
	align-items: center;
	justify-content: center;
	border: none;
	cursor: pointer;
	background: black;
	color: white;
	font-size: 16px;
}

.icon {
	margin-right: 10px;
	width: 50px;
	height: 30px;
}
